<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Limpa todas as outras fontes de pacotes configuradas na máquina -->
    <clear />
    <!-- Adiciona a fonte oficial do NuGet.org como a única fonte -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
